<div class="container-step">
    <div class="container-title">
        <h1>Área explicativa sobre os pagamentos com as taxas e os meios de pagamentos da calin</h1>
    </div>

    <div class="container-context">
        <div class="cards">
            <p>Passo a passo para os pagamentos com copy marketing</p>
            <div>
                <app-card-step [textCard]="'Texto Explicativo Passo 1'"></app-card-step>
                <app-card-step [textCard]="'Texto Explicativo Passo 2'"></app-card-step>
            </div>
            <div>
                <app-card-step [textCard]="'Texto Explicativo Passo 3'"></app-card-step>
                <app-card-step [textCard]="'Texto Explicativo Passo 4'"></app-card-step>
            </div>
        </div>
        <div class="image">
        </div>
    </div>
</div>