<section>
    <div class="container">
        
        <div class="container-text">
            <div class="container-titles">
                <h1>Carteira digital para</h1>
                <h1>gerenciar, pagar, receber e economizar</h1>
            </div>

            <div class="container-subtitles">
                <p>Comece a economizar agora conosco</p>
            </div>
            
            <div class="container-buttons">
                <button>Abra sua conta</button>
            </div>
        </div>

        <img src="../../../../assets/images/image-slogan.svg" class="container-image">
    
    </div>
</section>