<div class="container">
    <div class="container-text">
        <h1>Frase ou slogam da empresa como ênfase de título chamativo</h1>
        
        <div class="container-subtitles">
            <p>Frase intuitiva para botao de acao</p>
            <p>Frase intuitiva para botao de acao</p>
        </div>
        
        <div class="container-buttons">
            <button>Botão de compra</button>
            <button>Como funciona?</button>
        </div>
    </div>
    <div class="container-image">
    </div>
</div>