.container {
    display: flex;
    gap: 15%;
    width: 90%;
    height: 75vh;
    padding: 10% 5% 0 5%;
    background-color: #CBCBCB;
}

.container-text {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 50%;
    height: 75%;
}

.container-text h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    padding-bottom: 5%;
}

.container-subtitles p:first-child {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.container-subtitles p:last-child {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.container-image {
    background-color: blue;
    border-radius: 25px;
    width: 35%;
    height: 95%;
}