.container-principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: var(--background-blue);
}

.container-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 100%;
}

img {
    width: 27%;
}

.container-items {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 5%;
}

.container-items ul {
    display: flex;
    gap: 10%;
    align-items: center;
    list-style-type: none;
    width: 100%;
    height: 40%;
}

@media (max-width: 800px) {
    .container-items {
        display: none;
    }

    img {
        width: 35%;
    }

    .container-logo {
        width: 170px;
        justify-content: flex-start;
        padding-left: 8%;
    }
}