* {
    margin: 0;
    padding: 0;
}

#container-principal {
    height: 95vh;
    width: 100%;

    background-color: #D9D9D9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#container-title {
    height: 33%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#container-benefits {
    height: 33%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

@media (max-width: 800px) {
      
    #container-principal {
        justify-content: center;
    }

    #container-title {
        height: 15%;
        width: 50%;
    }

    #container-benefits {
        height: auto;

        flex-direction: column;
    }

    h1 {
        font-size: 20px;

        text-align: center;
    }
}