@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: auto;
}

:root {
    --background-blue: #03091C;
    --primary-yellow: #C6AB23;
    --font-white: #EFF1F3;
}
