li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--font-white);
}

img {
    width: 20px;
    height: 20px;
}

li:hover {
    cursor: pointer;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
}