li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

div {
    width: 20px;
    height: 20px;
    background-color: gray;
}

li:hover {
    cursor: pointer;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
}